<h2><%=@list.name%></h2>
<ul class="list-group">
  <% @list.bookmarks.each do |bookmark| %>
    <li class="list-group-item">
          <%= bookmark.comment %>
          <%= link_to "Remove",
                      bookmark_path(bookmark),
                      method: :delete,
                      data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>

<p> <%= link_to 'Back to List', lists_path %> </p>
<%= link_to 'Add new bookmark', new_list_bookmark_path(@list),  class: "btn btn-primary" %>
